<div class="tracker-list row">
    {% for project in projects %}
        <div class="card" style="width: 22rem; margin: 5px">
            <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <h6 class="card-title">
                    {% for user in project.user.all %}
                        <a style="text-decoration:none;" href="{% url 'profile' user.pk %}">{{ user.username }}</a>
                    {% endfor %}
                </h6>
                <p class="card-text">Дата начала: {{ project.start_date|date:'d F Y' }}</p>
                <p class="card-text">Дата окончания: {{ project.end_date|date:'d F Y' }}</p>
                <a href="{% url 'detail_project' project.pk %}" class="card-link btn btn-primary">Подробнее</a>
            </div>
        </div>
    {% endfor %}
</div>