{% csrf_token %}
<label for="title">Название проекта</label>
<input class="form-control" type="text" id="title" name="title" value="{{ form.title.value|default:'' }}">
<label for="description">Описание проекта</label>
<textarea class="form-control" name="description" id="description" cols="30" rows="10">{{ form.description.value|default:'' }}</textarea>
<label for="start_date">Дата начала</label>
<input class="form-control" type="date" id="start_date" name="start_date" value="{{ form.start_date.value|date:'Y-m-d' }}">
<label for="end_date">Дата окончания</label>
<input class="form-control" type="date" id="end_date" name="end_date" value="{{ form.end_date.value|date:'Y-m-d' }}">
<input type="submit" class="form-control" value="{{ button_text }}">