{% extends 'base.html' %}

{% block content %}
<div class="card">
  <h5 class="card-header">Проект: <span> {{ project.title }} </span></h5>
  <div class="card-body">
    <p class="card-text"><b>Детальное описание:</b><br>{{ project.description }}</p>
      <p class="card-text"><b>Дата начала:</b> {{ project.start_date|date:'d.m.Y' }}</p>
      <p class="card-text"><b>Дата окончания:</b> {{ project.end_date|date:'d.m.Y' }}</p>
      <div>
        <a href="{% url 'list_projects' %}" class="btn btn-primary">Проекты</a>
        {% if perms.tracker.change_project %}
          <a class="btn btn-success" href="{% url 'update_project' project.pk %}">Изменить</a>
        {% endif %}
        {% if perms.tracker.delete_project %}
          <a data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-danger" >Удалить</a>
        {% endif %}
        <a href="{% url 'project_members' project.pk %}" class="btn btn-warning">Участники</a>
      </div>
  </div>
</div>
{% if perms.tracker.add_issue and request.user in project.user.all  %}
  <div class="card create-issue">
    <form action="{% url 'create_issue' project.pk %}" method="POST">
      {% include 'partial/issue/issue_form.html' with button_text='Создать' %}
    </form>
  </div>
{% endif %}
{% if project.issues %}
  {% include "partial/issue/issue_list_form.html" with issues=project.issues.all %}
{% endif %}
{% include 'common/delete_project_view.html' with deleted_object=project %}
{% endblock %}