{% extends 'base.html' %}

{% block content %}
<div class="users-table">
  <table class="table">
  <thead>
    <tr>
      <th scope="col">Проект</th>
      <th scope="col">Имя</th>
      <th scope="col">Фамилия</th>
      <th scope="col">Username</th>
    </tr>
  </thead>
  <tbody>
  {% for user in users %}
      <tr>
        <td>{{ project.title }}</td>
        <td>{{ user.first_name }}</td>
        <td>{{ user.last_name }}</td>
        <td>{{ user.username }}</td>
      </tr>
  {% endfor %}
  </tbody>
  </table>
</div>
<div>
  <a href="{% url 'detail_project' project.pk %}" class="btn btn-primary">Вернуться к проекту</a>
  {% if perms.tracker.add_or_delete_member and request.user in project.user.all %}
    <a href="{% url 'update_members' project.pk %}" class="btn btn-primary">Добавить/Удалить участников</a>
  {% endif %}
</div>
{% endblock %}