{% extends 'base.html' %}

{% block content %}
    <form action="{% url 'update_members' project.pk %}" method="POST">
        {% csrf_token %}
        <label for="user">Добавить/Удалить пользователей</label>
        <select class="form-control" multiple name="user" id="user">
            {% for user in users %}
                {% if user.pk in form.user.value %}
                    <option selected value="{{ user.pk }}">{{ user.get_full_name }}</option>
                {% else %}
                    <option value="{{ user.pk }}">{{ user.get_full_name }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <input type="submit" class="form-control" value="Изменить">
    </form>
{% endblock %}