{% extends 'base.html' %}

{% block content %}
    <form action="{% url 'change_password' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="password"><b>Пароль:</b></label>
            <input type="password" name="password" id="password">
        </div>
        <div class="form-group">
            <label for="password_confirm"><b>Потверждение пароля:</b></label>
            <input type="password" name="password_confirm" id="password_confirm">
        </div>
        <div class="form-group">
            <label for="password_old"><b>Старый пароль:</b></label>
            <input type="password" name="password_old" id="password_old">
        </div>
        <input style="margin-top: 10px;" type="submit" value="Изменить пароль" class="btn btn-danger">
    </form>
{% endblock %}