{% extends 'accounts_base.html' %}

{% block content %}
<form class="form-for-regist" action="{% url 'register' %}{% if next %}?next={{ next }}{% endif %}" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="initials col-sm-6">
            <input id="first_name" placeholder="First Name" name="first_name" type="text">
        </div>
        <div class="initials col-sm-6">
            <input id="last_name" placeholder="Last Name" name="last_name" type="text">
        </div>
    </div>
    <input placeholder="Username" name="username" type="text">
    <input placeholder="Password" name="password" type="password">
    <input placeholder="Password Confirm" name="password_confirm" type="password">
    <input placeholder="Email" name="email" type="email">
    <input value="join" type="submit">
</form>
{% endblock %}