<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a class="page-link btn btn-outline-primary" href="?page=1{% if query %}&{{ query }}{% endif %}">&laquo; В начало</a></li>
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link btn btn-outline-primary" href="?page={{ page_obj.previous_page_number }}{% if query %}&{{ query }}{% endif %}">Назад</a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link btn btn-outline-primary">Назад</a></li>
        {% endif %}

        {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
                <li class="page-item active"><a class="page-link btn btn-outline-primary" href="#">{{ i }}</a></li>
            {% else %}
                <li class="page-item "><a class="page-link btn btn-outline-primary" href="?page={{ i }}{% if query %}&{{ query }}{% endif %}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link btn btn-outline-primary" href="?page={{ page_obj.next_page_number }}{% if query %}&{{ query }}{% endif %}">Далее</a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link btn btn-outline-primary">Далее</a></li>
        {% endif %}
        <li class="page-item"><a class="page-link btn btn-outline-primary" href="?page={{ page_obj.paginator.num_pages }}{% if query %}&{{ query }}{% endif %}">В конец &raquo;</a></li>

    </ul>
</nav>