{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'accounts_css/style.css' %}">
</head>

<body>
    <div class="container">
        <div class="authorization_card d-flex flex-column flex-wrap">
            <div class="header-button row">
                <div class="button col-sm-6 col-12">
                    <a class="btn btn-2" href="{% url 'login' %}{% if next %}?next={{ next }}{% endif %}">Log In</a>
                </div>
                <div class="button col-sm-6 col-12">
                    <a class="btn btn-1" href="{% url 'register' %}{% if next %}?next={{ next }}{% endif %}">Sign Up</a>
                </div>
                {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.errors }}
                    </div>
                {% endif %}
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>

