<div class="form-group">
    <label for="first_name"><b>Имя:</b></label>
    <input class="form-control" type="text" name="first_name" id="first_name" value="{{ form.first_name.value|default:'' }}">
</div>
<div class="form-group">
    <label for="last_name"><b>Фамилия:</b></label>
    <input  class="form-control"type="text" name="last_name" id="last_name" value="{{ form.last_name.value|default:'' }}">
</div>
<div class="form-group">
    <label for="email"><b>Email:</b></label>
    <input class="form-control" type="email" name="email" id="email" value="{{ form.email.value|default:'' }}">
</div>

