{% csrf_token %}
<label for="summary">Краткое описание задачи</label>
<input class="form-control" type="text" id="summary" name="summary" value="{{ form.summary.value|default:'' }}">
<label for="description">Детальное описание задачи</label>
<textarea class="form-control" name="description" id="description" cols="30" rows="10">{{ form.description.value|default:'' }}</textarea>
<label for="status">Статус</label>
<select class="form-control" name="status" id="status">
    {% for status in statuses %}
        {% if status.pk == form.status.value %}
            <option selected value="{{ status.pk }}">{{ status.status }}</option>
        {% else %}
            <option value="{{ status.pk }}">{{ status.status }}</option>
        {% endif %}
    {% endfor %}
</select>
<label for="style">Тип</label>
<select class="form-control" multiple name="style" id="style">
    {% for style in styles %}
        {% if style.pk in form.style.value %}
            <option selected value="{{ style.pk }}">{{ style.style }}</option>
        {% else %}
            <option value="{{ style.pk }}">{{ style.style }}</option>
        {% endif %}
    {% endfor %}
</select>
<input type="submit" class="form-control" value="{{ button_text }}">