{% block content%}
    <div class="tracker-list row">
        {% for issue in issues %}
            <div class="card" style="width: 22rem; margin: 5px">
                <div class="card-body">
                    <h5 class="card-title">{{ issue.summary }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted"><b>Статус:</b> {{ issue.status.status }}</h6>
                    <h6 class="card-subtitle mb-2 text-muted"><b>Тип:</b>
                    {% for style in issue.style.all %}
                        {{ style.style }}
                    {% endfor %}
                    </h6>
                    <p class="card-text">Дата создания: {{ issue.created_at|date:'d F Y' }}</p>
                    <p class="card-text">Время создания: {{ issue.created_at|date:'G:i' }}</p>
                    {% if perms.tracker.view_issue and request.user in issue.project.user.all  %}
                        <a href="{% url 'detail_issue' issue.pk %}" class="card-link btn btn-primary">Подробнее</a>
                    {% endif %}
                </div>
            </div>
        {% empty %}
            <p>Задачи не найдены</p>
        {% endfor %}
    </div>
    <div class="paginate-block">
        {% if is_paginated %}
            {% include 'partial/pagination.html' %}
        {% endif %}
    </div>
{% endblock %}