<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-nav">
      <a class="navbar-brand" href="{% url 'list_issues' %}">Трекер задач</a>
      <a class="navbar-brand" href="{% url 'list_projects' %}">Проекты</a>
      {% if perms.accounts.view_users_list %}
        <a class="navbar-brand" href="{% url 'users_list' %}">Пользователи</a>
      {% endif %}
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        {% if perms.tracker.add_project %}
          <a class="nav-link active" aria-current="page" href="{% url 'create_project' %}">Добавить проект</a>
        {% endif %}
      </div>
      <form class="d-flex" method="get">
        <input class="form-control me-2" name="search" value="{{ form.search.value|default:'' }}" type="search" placeholder="Поиск" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Поиск</button>
      </form>
      <div class="navbar-nav">
        {% if not request.user.is_authenticated %}
          <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Войти</a>
        {% else %}
          <a class="nav-link active" aria-current="page" href="{% url 'profile' request.user.pk %}">Привет, {{ user.username }}</a>
          <a class="nav-link active" aria-current="page" href="{% url 'logout' %}">Выйти</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>