{% extends 'base.html' %}

{% block content %}
<div class="users-table">
  <table class="table">
  <thead>
    <tr>
      <th scope="col">Имя</th>
      <th scope="col">Фамилия</th>
      <th scope="col">Username</th>
    </tr>
  </thead>
  <tbody>
  {% for user in users %}
      <tr>
        <td>{{ user.first_name }}</td>
        <td>{{ user.last_name }}</td>
        <td><a style="text-decoration:none;" href="{% url 'profile' user.pk %}">{{ user.username }}</a></td>
      </tr>
  {% endfor %}
  </tbody>
  </table>
</div>
{% endblock %}