.navbar>.container-fluid{
    justify-content: space-around;
}
.navbar-collapse{
    flex-grow: 0;
}

.paginate-block{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.tracker-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}
.create-issue{
    margin-top: 50px;
    width: 50%;
}
.card{
    margin-top: 50px;
}
.users-table{
    margin-top: 20px;
}
.change-profile{
    margin-top: 30px;
    display: flex;
}
.change-image-profile{
    width: 50%;
}
.change-info-profile{
    width: 50%;
}
.form-group{
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.form-group>label{
    margin-right: 10px;
}
.change-info-profile>.form-group-1{
    margin-top: 15px;
}