{% extends 'base.html' %}

{% block content %}
<div class="card">
  <h5 class="card-header">Задача: <span> {{ issue.summary }} </span></h5>
  <div class="card-body">
    <h5 class="card-title"><b>Статус:</b> {{ issue.status.status }}</h5>
      <h5 class="card-title"><b>Тип:</b>
      {% for style in issue.style.all %}
            {{ style.style }}
        {% endfor %}
      </h5>

    <p class="card-text"><b>Детальное описание:</b><br>{{ issue.description }}</p>
      <p class="card-text"><b>Дата создания:</b> {{ issue.created_at|date:'d.m.Y G:i' }}</p>
      <p class="card-text"><b>Дата изменения:</b> {{ issue.updated_at|date:'d.m.Y G:i' }}</p>
      <div>
        <a href="{% url 'detail_project' issue.project.pk %}" class="btn btn-info">Вернуться к проекту</a>
        <a href="{% url 'list_issues' %}" class="btn btn-primary">Задачи</a>
        {% if perms.tracker.delete_issue and request.user in issue.project.user.all %}
          <a data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-danger" >Удалить</a>
        {% endif %}
        {% if perms.tracker.change_issue and request.user in issue.project.user.all %}
          <a class="btn btn-success" href="{% url 'update_issue' issue.pk %}">Изменить</a>
        {% endif %}
      </div>
  </div>
</div>
{% include 'common/delete_issue_view.html' with deleted_object=issue %}
{% endblock %}