{% extends 'base.html' %}

{% block content %}
    <form action="{% url 'update_issue' issue.pk %}" method="POST">
        <label for="project">Проект</label>
        <select class="form-control" name="project", id="project">
            {% for project in form.fields.project.queryset %}
                {% if form.project.value == project.pk %}
                    <option selected value="{{ project.pk }}">{{ project.title }}</option>
                {% else %}
                    <option value="{{ project.pk }}">{{ project.title }}</option>
                {% endif %}
            {% endfor %}
        </select>
        {% include 'partial/issue/issue_form.html' with button_text='Изменить' %}
    </form>
{% endblock %}